/* src/style/Carrito.css */
.btn-volver-vacio{
  background-color: #e066bc46;
}
.carrito-layout {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
}

.carrito-lista {
  flex: 2;
  min-width: 320px;
}

.carrito-item {
  display: flex;
  align-items: center;
  background: #dfb6db49;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  border: 1px solid #ad2525;
  transition: transform 0.2s;
  gap: 15px; /* Espacio entre imagen, texto y precio */
}

.carrito-item:hover {
  transform: translateX(10px);
}

.carrito-item-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 12px;
}

/* El flex: 1 hace que este div use todo el espacio disponible, empujando al precio */
.carrito-item-info {
  flex: 1; 
  min-width: 0; /* Permite que el texto se acorte si es necesario */
}

.carrito-item-info h3 {
  margin: 0;
  font-size: 1.1rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Pone "..." si el nombre es muy largo */
}

.categoria-tag {
  font-size: 0.8rem;
  color: #000000; /* Verde para combinar con el precio */
  background: #dfb6db49;
  padding: 2px 8px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 4px;
}

/* Contenedor del precio y el tacho */
.carrito-item-precio {
  display: flex;
  align-items: center;
  gap: 15px;
  min-width: fit-content; /* Asegura que no se achique */
}

.carrito-item-precio span {
  font-weight: bold;
  font-size: 1.1rem;
  color: #cc2e9d;
  white-space: nowrap; /* Evita que el precio se encime */
}

.btn-eliminar {
  background: rgba(255, 68, 68, 0.1);
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  filter: grayscale(1);
  transition: 0.3s;
}

.btn-eliminar:hover {
  background: #ff4444;
  filter: grayscale(0);
}

/* RESUMEN */
.carrito-resumen {
  flex: 1;
  background: #dfb6db49;
  color: white;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #ad2525;
  position: sticky;
  top: 100px;
}

.resumen-fila {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  color: #ffffff;
}

.resumen-fila.total {
  border-top: 1px solid #ad2525;
  padding-top: 20px;
  font-size: 1.5rem;
  font-weight: 800;
  color: #cc2e9d;
}

.btn-comprar-wa {
  width: 100%;
  background-color: #cc2e9d !important;
  color: white;
  padding: 15px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
  box-shadow: 0 4px 15px rgba(37, 211, 102, 0.3);
}

.btn-comprar-wa:hover {
  background-color: #128c7e !important;
  transform: translateY(-3px);
}

.btn-seguir {
  width: 100%;
  background: #dfb6db49;
  border: 1px solid #cc2e9d;
  color: #ffffff;
  margin-top: 15px;
  padding: 12px;
  border-radius: 50px;
  cursor: pointer;
}

.btn-seguir:hover {
  color: white;
  border-color: white;
}

.carrito-vacio {
  text-align: center;
  padding: 100px 20px;
}